Repository lgf-136/monorepo-templates: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, git add ., stylelint --fix

.lintstagedrc:

{
  "./**/*.{ts,js,tsx,jsx,vue}": [
    "eslint --fix",
    "git add ."
  ],
  "./**/*.{css,postcss,less,scss,sass,vue,html}": [
    "stylelint --fix",
    "git add ."
  ]
}

test: 💍 test stylelint (#1)
  .stylelintrc.js
Due: eslint --fix, git add .

feat: 🎸 add postcss (#4)
  .browserslistrc
  examples/react/src/index.css
  package.json
  pnpm-lock.yaml
  postcss.config.js
Due: eslint --fix, git add ., stylelint --fix

chore(release): 0.0.3
  CHANGELOG.md
  package.json
Due: none

test: 💍 test pnpm workspace
  pnpm-lock.yaml
  projects/utools-plugin-react-ts-template/package.json
  projects/utools-plugin-react-ts-template/src/App.tsx
Due: eslint --fix, git add .

docs: ✏️ change readme
  README.md
Due: none

feat: 🎸 change utils to submodule
  .gitmodules
  utils/index.ts
  utils/package.json
  utils/tsconfig.json
Due: eslint --fix, git add .

feat: 🎸 add clean_node_modules script
  clean_node_modules.js
Due: eslint --fix, git add .

fix: 🐛 add clean_node_modules script
  package.json
Due: none

feat: 🎸 add github actions
  .github/workflows/development.yml
  .github/workflows/production.yml
  .github/workflows/release.yml
  .github/workflows/staging.yml
Due: none

fix: 🐛 add package script
  package.json
Due: none

fix: 🐛 fix
  .github/workflows/production.yml
  package.json
Due: none

fix: 🐛 change eslintrc
  .eslintrc.js
Due: eslint --fix, git add .

Update production.yml
  .github/workflows/production.yml
Due: none

fix: 🐛 fix and tested pass github actions (#6)
  .eslintrc.js
Due: eslint --fix, git add .

chore(release): 0.0.4
  CHANGELOG.md
  package.json
Due: none

feat: 🎸 test passed offline
  pnpm-lock.yaml
  projects/vite-react-ts-chrome-plugin-template/.gitignore
  projects/vite-react-ts-chrome-plugin-template/index.html
  projects/vite-react-ts-chrome-plugin-template/package.json
  projects/vite-react-ts-chrome-plugin-template/public/background/background.html
  projects/vite-react-ts-chrome-plugin-template/public/img/icon_128x128.png
  projects/vite-react-ts-chrome-plugin-template/public/img/icon_16x16.png
  projects/vite-react-ts-chrome-plugin-template/public/img/icon_32x32.png
  projects/vite-react-ts-chrome-plugin-template/public/img/icon_48x48.png
  projects/vite-react-ts-chrome-plugin-template/public/img/icon_64x64.png
  projects/vite-react-ts-chrome-plugin-template/public/manifest.json
  projects/vite-react-ts-chrome-plugin-template/public/vite.svg
  projects/vite-react-ts-chrome-plugin-template/src/App.css
  projects/vite-react-ts-chrome-plugin-template/src/App.tsx
  projects/vite-react-ts-chrome-plugin-template/src/assets/react.svg
  projects/vite-react-ts-chrome-plugin-template/src/background.ts
  projects/vite-react-ts-chrome-plugin-template/src/contentScript.ts
  projects/vite-react-ts-chrome-plugin-template/src/index.css
  projects/vite-react-ts-chrome-plugin-template/src/index.tsx
  projects/vite-react-ts-chrome-plugin-template/src/vite-env.d.ts
  projects/vite-react-ts-chrome-plugin-template/tsconfig.json
  projects/vite-react-ts-chrome-plugin-template/tsconfig.node.json
  projects/vite-react-ts-chrome-plugin-template/vite.config.ts
Due: eslint --fix, git add ., stylelint --fix

feat: 🎸 add vite-react-ts-tampermonkey-plugin-template (bug)
  pnpm-lock.yaml
  projects/vite-react-ts-tampermonkey-plugin-template/.gitignore
  projects/vite-react-ts-tampermonkey-plugin-template/README.md
  projects/vite-react-ts-tampermonkey-plugin-template/index.html
  projects/vite-react-ts-tampermonkey-plugin-template/package.json
  projects/vite-react-ts-tampermonkey-plugin-template/src/App.css
  projects/vite-react-ts-tampermonkey-plugin-template/src/App.tsx
  projects/vite-react-ts-tampermonkey-plugin-template/src/assets/react.svg
  projects/vite-react-ts-tampermonkey-plugin-template/src/assets/vite.svg
  projects/vite-react-ts-tampermonkey-plugin-template/src/index.css
  projects/vite-react-ts-tampermonkey-plugin-template/src/main.tsx
  projects/vite-react-ts-tampermonkey-plugin-template/src/vite-env.d.ts
  projects/vite-react-ts-tampermonkey-plugin-template/tsconfig.json
  projects/vite-react-ts-tampermonkey-plugin-template/tsconfig.node.json
  projects/vite-react-ts-tampermonkey-plugin-template/vite.config.ts
Due: eslint --fix, git add ., stylelint --fix

fix: 🐛 fix
  projects/vite-react-ts-tampermonkey-plugin-template/README.md
Due: none

fix: 🐛 bug fix
  pnpm-lock.yaml
  projects/vite-react-ts-tampermonkey-plugin-template/README.md
  projects/vite-react-ts-tampermonkey-plugin-template/package.json
Due: none

feat: 🎸 init
  pnpm-lock.yaml
  pnpm-workspace.yaml
  projects/vite-react-ts-template/.gitignore
  projects/vite-react-ts-template/config/tampermonkey/README.md
  projects/vite-react-ts-template/config/tampermonkey/preact-ts.ts
  projects/vite-react-ts-template/config/tampermonkey/preact.js
  projects/vite-react-ts-template/config/tampermonkey/react-ts.ts
  projects/vite-react-ts-template/config/tampermonkey/react.js
  projects/vite-react-ts-template/config/tampermonkey/solid-ts.ts
  projects/vite-react-ts-template/config/tampermonkey/solid.js
  projects/vite-react-ts-template/config/tampermonkey/svelte-ts.ts
  projects/vite-react-ts-template/config/tampermonkey/svelte.js
  projects/vite-react-ts-template/config/tampermonkey/vanilla-ts.ts
  projects/vite-react-ts-template/config/tampermonkey/vanilla.js
  projects/vite-react-ts-template/config/tampermonkey/vue-ts.ts
  projects/vite-react-ts-template/config/tampermonkey/vue.js
  projects/vite-react-ts-template/config/vite/vite.base.config.ts
  projects/vite-react-ts-template/config/vite/vite.build.config.ts
  projects/vite-react-ts-template/config/vite/vite.serve.config.ts
  projects/vite-react-ts-template/index.html
  projects/vite-react-ts-template/package.json
  projects/vite-react-ts-template/pnpm-lock.yaml
  projects/vite-react-ts-template/src/App.css
  projects/vite-react-ts-template/src/App.tsx
  projects/vite-react-ts-template/src/assets/react.svg
  projects/vite-react-ts-template/src/assets/vite.svg
  projects/vite-react-ts-template/src/index.css
  projects/vite-react-ts-template/src/main.tsx
  projects/vite-react-ts-template/src/vite-env.d.ts
  projects/vite-react-ts-template/tsconfig.json
  projects/vite-react-ts-template/tsconfig.node.json
  projects/vite-react-ts-template/vite.config.ts
Due: eslint --fix, git add ., stylelint --fix

fix: 🐛 change pre-commit
  .husky/pre-commit
Due: none

feat: 🎸 add chrome plugin
  pnpm-lock.yaml
  projects/all-in-one-template/config/chrome/index.ts
  projects/all-in-one-template/package.json
  projects/all-in-one-template/public/background/background.html
  projects/all-in-one-template/public/img/icon_128x128.png
  projects/all-in-one-template/public/img/icon_16x16.png
  projects/all-in-one-template/public/img/icon_32x32.png
  projects/all-in-one-template/public/img/icon_48x48.png
  projects/all-in-one-template/public/img/icon_64x64.png
  projects/all-in-one-template/public/manifest.json
  projects/all-in-one-template/src/background.ts
  projects/all-in-one-template/src/contentScript.ts
  projects/all-in-one-template/tsconfig.json
  projects/all-in-one-template/vite.config.ts
Due: eslint --fix, git add ., stylelint --fix

fix: 🐛 fix
  projects/all-in-one-template/config/tampermonkey/react-ts.ts
  projects/all-in-one-template/src/App.tsx
  projects/all-in-one-template/vite.config.ts
Due: eslint --fix, git add .

fix: 🐛 fix
  .husky/pre-commit
Due: none

feat: 🎸 first version
  .hintrc
  pnpm-lock.yaml
  projects/tiptap-editor-react-ts/.eslintrc.js
  projects/tiptap-editor-react-ts/package.json
  projects/tiptap-editor-react-ts/src/App.css
  projects/tiptap-editor-react-ts/src/App.tsx
  projects/tiptap-editor-react-ts/src/components/Tiptap/BubbleMenu/index.scss
  projects/tiptap-editor-react-ts/src/components/Tiptap/BubbleMenu/index.tsx
  projects/tiptap-editor-react-ts/src/components/Tiptap/FloatingMenu/index.scss
  projects/tiptap-editor-react-ts/src/components/Tiptap/FloatingMenu/index.tsx
  projects/tiptap-editor-react-ts/src/components/Tiptap/ToolBar/index.scss
  projects/tiptap-editor-react-ts/src/components/Tiptap/ToolBar/index.tsx
  projects/tiptap-editor-react-ts/src/components/Tiptap/index.scss
  projects/tiptap-editor-react-ts/src/components/Tiptap/index.tsx
  projects/tiptap-editor-react-ts/src/components/Tiptap/initContent.js
  projects/tiptap-editor-react-ts/src/index.css
  projects/tiptap-editor-react-ts/vite.config.ts
Due: eslint --fix, git add ., stylelint --fix

feat: 🎸 change vite.config logical and add some scripts
  pnpm-lock.yaml
  projects/tiptap-editor-react-ts/README.md
  projects/tiptap-editor-react-ts/config/chrome/index.ts
  projects/tiptap-editor-react-ts/config/tampermonkey/preact-ts.ts
  projects/tiptap-editor-react-ts/config/tampermonkey/preact.js
  projects/tiptap-editor-react-ts/config/tampermonkey/react-ts.ts
  projects/tiptap-editor-react-ts/config/tampermonkey/react.js
  projects/tiptap-editor-react-ts/config/tampermonkey/solid-ts.ts
  projects/tiptap-editor-react-ts/config/tampermonkey/solid.js
  projects/tiptap-editor-react-ts/config/tampermonkey/svelte-ts.ts
  projects/tiptap-editor-react-ts/config/tampermonkey/svelte.js
  projects/tiptap-editor-react-ts/config/tampermonkey/vanilla-ts.ts
  projects/tiptap-editor-react-ts/config/tampermonkey/vanilla.js
  projects/tiptap-editor-react-ts/config/tampermonkey/vue-ts.ts
  projects/tiptap-editor-react-ts/config/tampermonkey/vue.js
  projects/tiptap-editor-react-ts/config/utools/index.ts
  projects/tiptap-editor-react-ts/config/vite/vite.base.config.ts
  projects/tiptap-editor-react-ts/env/.env.chrome
  projects/tiptap-editor-react-ts/env/.env.production
  projects/tiptap-editor-react-ts/env/.env.tampermonkey
  projects/tiptap-editor-react-ts/env/.env.utools
  projects/tiptap-editor-react-ts/package.json
  projects/tiptap-editor-react-ts/src/components/Tiptap/CodeBlockComponent/index.tsx
  projects/tiptap-editor-react-ts/src/components/Tiptap/index.tsx
  projects/tiptap-editor-react-ts/src/components/Tiptap/initContent.js
  projects/tiptap-editor-react-ts/vite.config.ts
Due: eslint --fix, git add .

feat: 🎸 use react-icons/ri
  projects/tiptap-editor-react-ts/src/components/Tiptap/BubbleMenu/index.tsx
  projects/tiptap-editor-react-ts/src/components/Tiptap/FloatingMenu/index.tsx
  projects/tiptap-editor-react-ts/src/components/Tiptap/ImageComponent/NetworkImageModal.tsx
  projects/tiptap-editor-react-ts/src/components/Tiptap/ImageComponent/index.tsx
  projects/tiptap-editor-react-ts/src/components/Tiptap/LinkComponent/LinkModal.tsx
  projects/tiptap-editor-react-ts/src/components/Tiptap/LinkComponent/index.tsx
  projects/tiptap-editor-react-ts/src/components/Tiptap/ToolBar/index.tsx
Due: eslint --fix, git add .
